.slider {
  width: 900px;
  margin: 30px auto;
}

.slick-prev::before,
.slick-next::before {
  color: black!important;
}

$(function(){
  $('.slider').slick(){
   dots: true,
   autoplay: true
   autoplayspeed: 1000;
  });
});